body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*estilizacao do HEADER*/
header{
    background-color:#131424;
}


/*Estilizacao do logo*/
.logo{
    width:20% ;
    padding: 10px 0 20px 5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*estilizacao do menu*/
nav{
    color:rgba(240, 248, 255, 0.87);
    position:absolute;
    top: 10%;
    right: 5%;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}

nav li{
    display:inline;
    margin-right: 40px;
    font-weight:bold;
}

.divheader{
    position: relative;
}

.banner{
    width: 10%;
    height:40%;
    object-fit: cover;
}

/*Estlização de Titulos*/
.titulos{
    padding-top: 2%;
    text-align: center;
    color: blue;
}
/*Estilização da Sessão Nexo*/
.nexo{
    width: 70%;
    text-align: justify;
    margin-left: 14%;
}    

.titulo_nexo{
    clear: left;
}

.img_nexo{
    width: 18%;
    float:inline-start;
    margin-right: 20px;
}

.texto_sobrenos{
    padding-bottom: 13%;
}

/*Estilização da sessao NOSSA SEDE*/
.mapa{
    text-align: center;
    background:linear-gradient(#FFF,#ffffff);
}

/* Estilização da Sessao Produtos*/
.produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.produtos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img_jogos{
    width:350px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px #131424;
    opacity: 1;
    transition: 400ms;
}

.img_jogos:hover{
    transform: scale(1.05);
    opacity: 0.8;
    cursor: pointer;
}

/* sessão video */
.video{
    text-align: center;
}


/*Estilização do FOOTER*/
footer{
    padding: 30px 10px 10px 0;
    background: url("../ProjetoNexo/img/logonexo.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(3, 3, 29, 0.986);
    background-blend-mode: darken; 
}
footer p{
    color: white;
    text-align: right;
    font-size: 20px;
}
footer a{
    color: white;
    text-decoration: none;
}
.logo_footer{
    width: 12%;
    padding-left: 85%;
}